[com/canonical/indicator/sound]
interested-media-players=['spotify', 'vlc']

[org/blueman/general]
services-last-item=0
window-properties=[500, 745, 1574, 637]

[org/blueman/plugins/recentconns]
recent-connections='eNotkMtOwlAQhquCKCiK92vShQtcYNqCtJwd0CjExA2bblyctgc8gRb+XkxcmNhFfQf3vpLPYHwLTyuzmJl/5sufzLyvPkhPkN6wUrdKkiRNQj7x6QxibBWEjmPuYs1x7Tgsj6KA+5MyCtaV2CgiVFVrNbKmoWbJyJKiGMrtuGM3W2MbxRTrCUq5NXXpImIBNp4LVk1ozSA9jfRMYiqk3SN6H5spygkqS9oNWBhia0l3DKI2iaIQtU/uTNFjO0U1wY5VzOgZpyF2BVsRqutPWSB3dV1ro5ZiL8F+Tnk8Yh4OHvPLIu4xHN53v79+P39murUuZi574Q7D0T/BnbmPY+FZzYS/iKPGlL3acxq4OElxmuAs53wqnM7zpwxij/ry0Bd3jqnDZDM3lEcsyGt9MDSvcRHTD1ze/AEqwWRR'

[org/blueman/transfer]
shared-path='/home/greg/Downloads'

[org/gnome/evolution-data-server]
migrated=true

[org/gnome/evolution/plugin/autocontacts]
addressbook-source='system-address-book'
gaim-addressbook-source='system-address-book'

[org/gnome/evolution/plugin/prefer-plain]
show-suppressed=true
mode='normal'

[org/gnome/evolution/shell/window]
width=1083
maximized=false
height=740
x=837
y=213

[org/gnome/evolution/shell]
folder-bar-width=266
sidebar-visible=true
default-component-id='mail'
buttons-visible=false
attachment-view=0
start-offline=false
toolbar-visible=true
buttons-style='text'
statusbar-visible=true

[org/gnome/evolution/calendar]
work-day-friday=true
confirm-purge=true
hpane-position=1
work-day-wednesday=true
notify-with-tray=true
work-day-sunday=false
recur-events-italic=false
use-default-reminder=true
prefer-new-item=''
work-day-thursday=true
work-day-saturday=false
time-divisions=30
work-day-tuesday=true
date-navigator-pane-position=151
week-start-day-name='monday'
primary-memos='system-memo-list'
work-day-monday=true
tag-vpane-position=0.0018214936247723133
primary-tasks='system-task-list'

[org/gnome/evolution/spamassassin]
learn-command=''
command=''
local-only=true

[org/gnome/evolution/mail]
junk-empty-on-exit-days=0
junk-default-plugin='SpamAssassin'
trash-empty-on-exit-days=0
paned-size=263
caret-mode=false
junk-check-incoming=true
junk-lookup-addressbook=false
browser-close-on-reply-policy='ask'
use-custom-font=true
headers=['<?xml version="1.0"?>\n<header name="From" enabled=""/>\n', '<?xml version="1.0"?>\n<header name="Reply-To" enabled=""/>\n', '<?xml version="1.0"?>\n<header name="To" enabled=""/>\n', '<?xml version="1.0"?>\n<header name="Cc" enabled=""/>\n', '<?xml version="1.0"?>\n<header name="Bcc" enabled=""/>\n', '<?xml version="1.0"?>\n<header name="Subject" enabled=""/>\n', '<?xml version="1.0"?>\n<header name="Date" enabled=""/>\n', '<?xml version="1.0"?>\n<header name="Newsgroups" enabled=""/>\n', '<?xml version="1.0"?>\n<header name="Face" enabled=""/>\n', '<?xml version="1.0"?>\n<header name="x-evolution-mailer"/>\n']
reply-style-name='quoted'
junk-check-custom-header=true
layout=0
forward-style-name='attached'
hpaned-size=388
search-gravatar-for-photo=false
image-loading-policy='never'
show-headers=[('From', true), ('Reply-To', true), ('To', true), ('Cc', true), ('Bcc', true), ('Subject', true), ('Date', true), ('Newsgroups', true), ('Face', true), ('x-evolution-mailer', false)]
headers-collapsed=true
prompt-on-mark-all-read=false

[org/gnome/evolution/mail/browser-window]
width=600
maximized=false
height=400

[org/gnome/evolution/mail/send-recv-window]
width=600
maximized=false
height=200

[org/gnome/evolution/mail/subscription-window]
width=600
maximized=false
height=400

[org/gnome/evolution/bogofilter]
command=''
utf8-for-spam-filter=true

[org/gnome/evolution]
version='3.16.5'

[org/gnome/evolution/addressbook]
vpane-position=400

[org/gnome/nm-applet]
disable-disconnected-notifications=true
disable-connected-notifications=true

[org/gnome/nm-applet/eap/76446df0-1a75-4ec4-b5e1-b77c62e9dca4]
ignore-phase2-ca-cert=false
ignore-ca-cert=false

[org/gnome/nm-applet/eap/3b1148ce-0fc0-436f-b1e2-2298ca2bb817]
ignore-phase2-ca-cert=false
ignore-ca-cert=false

[org/gnome/nm-applet/eap/645ff414-204b-4910-b921-47999ea0d71f]
ignore-phase2-ca-cert=false
ignore-ca-cert=false

[org/gnome/nm-applet/eap/65dcf0c7-d836-4c70-a5bf-59d760760823]
ignore-phase2-ca-cert=false
ignore-ca-cert=false

[org/gnome/settings-daemon/plugins/xsettings]
overrides={'Gdk/WindowScalingFactor': <2>}

[org/gnome/deja-dup]
backend='s3'
prompt-check='disabled'

[org/gnome/deja-dup/rackspace]
container='greg-ThinkPad-X1-Carbon-2nd'

[org/gnome/deja-dup/s3]
bucket='deja-dup-auto-'
folder='greg-ThinkPad-X1-Carbon-2nd'

[org/gnome/deja-dup/gdrive]
folder='/deja-dup/greg-ThinkPad-X1-Carbon-2nd'

[org/gnome/desktop/a11y/applications]
screen-magnifier-enabled=true

[org/gnome/desktop/interface]
gtk-color-scheme=''
cursor-theme='Paper'
icon-theme='Paper'

[org/gnome/desktop/wm/preferences]
button-layout='close,minimize,maximize:'

[org/gtk/settings/file-chooser]
sort-column='name'
sidebar-width=148
window-position=(504, 236)
show-size-column=true
show-hidden=false
window-size=(911, 683)
sort-directories-first=false
sort-order='ascending'
location-mode='path-bar'

[org/gtk/settings/color-chooser]
selected-color=(true, 0.44705882352941179, 0.62352941176470589, 0.81176470588235294, 1.0)
custom-colors=[(0.1803921568627451, 0.18431372549019609, 0.23137254901960785, 1.0), (1.0, 0.93333333333333335, 0.59999999999999998, 1.0), (0.2196078431372549, 0.23529411764705882, 0.29019607843137257, 1.0), (0.82745098039215681, 0.85490196078431369, 0.8901960784313725, 1.0), (0.1801666666666667, 0.18541228070175442, 0.23000000000000001, 1.0), (0.23346666666666671, 0.26038035087719302, 0.34000000000000002, 1.0), (1.0, 0.93333435058600001, 0.59999999999999998, 1.0)]

[org/mate/panel/general]
locked-down=true
default-layout='ubuntu-mate-fresh'
object-id-list=['clock', 'window-list', 'workspace-switcher', 'object-4', 'object-2', 'object-0', 'object-1', 'object-3', 'object-5', 'object-6', 'object-7', 'object-9', 'object-8']
toplevel-id-list=['top', 'bottom']
disable-force-quit=false
enable-program-list=true
show-program-list=true
history-mate-run=['atom', 'dmenu', '/usr/bin/google-chrome-stable ', 'touchegg', 'chromium-browser ', 'conky']

[org/mate/panel/menubar]
show-icon=true

[org/mate/panel/toplevels/bottom]
y-bottom=0
y=1059
orientation='bottom'
auto-hide=true
expand=true
size=21
screen=0

[org/mate/panel/toplevels/bottom/background]
opacity=0
type='color'

[org/mate/panel/toplevels/top]
expand=true
orientation='top'
screen=0
size=24

[org/mate/panel/toplevels/top/background]
opacity=0
type='color'

[org/mate/panel/toplevels/toplevel-0]
enable-buttons=false
orientation='top'
enable-arrows=false

[org/mate/panel/objects/object-4]
applet-iid='IndicatorAppletCompleteFactory::IndicatorAppletComplete'
locked=false
toplevel-id='top'
position=2
object-type='applet'
panel-right-stick=true

[org/mate/panel/objects/workspace-switcher]
applet-iid='WnckletFactory::WorkspaceSwitcherApplet'
locked=false
toplevel-id='bottom'
position=1
object-type='applet'
panel-right-stick=true

[org/mate/panel/objects/workspace-switcher/prefs]
display-workspace-names=false
wrap-workspaces=true
display-all-workspaces=true
num-rows=1

[org/mate/panel/objects/object-5]
locked=true
launcher-location='xchat.desktop'
toplevel-id='top'
position=191
object-type='launcher'
panel-right-stick=false

[org/mate/panel/objects/object-6]
locked=true
launcher-location='/home/greg/.local/share/applications/Thunderbird Mail.desktop'
toplevel-id='top'
position=221
object-type='launcher'
panel-right-stick=false

[org/mate/panel/objects/clock]
applet-iid='ClockAppletFactory::ClockApplet'
locked=false
toplevel-id='top'
position=1
object-type='applet'
panel-right-stick=true

[org/mate/panel/objects/clock/prefs]
format='12-hour'
custom-format=''

[org/mate/panel/objects/object-7]
locked=true
launcher-location='xpad.desktop'
toplevel-id='top'
position=250
object-type='launcher'
panel-right-stick=false

[org/mate/panel/objects/object-8]
locked=true
launcher-location='caja-1.desktop'
toplevel-id='top'
position=101
object-type='launcher'
panel-right-stick=false

[org/mate/panel/objects/object-9]
locked=true
launcher-location='mozo-made.desktop'
toplevel-id='top'
position=72
object-type='launcher'
panel-right-stick=false

[org/mate/panel/objects/window-list]
applet-iid='WnckletFactory::WindowListApplet'
locked=false
toplevel-id='bottom'
position=0
object-type='applet'

[org/mate/panel/objects/window-list/prefs]
group-windows='auto'
display-all-workspaces=true
move-unminimized-windows=false

[org/mate/panel/objects/object-0]
launcher-location='caja.desktop'
toplevel-id='top'
position=38
object-type='launcher'
panel-right-stick=false

[org/mate/panel/objects/object-1]
locked=true
launcher-location='/home/greg/.local/share/applications/mozo-made-13.desktop'
toplevel-id='top'
position=130
object-type='launcher'
panel-right-stick=false

[org/mate/panel/objects/object-2]
locked=false
position=9
panel-right-stick=false
toplevel-id='top'
tooltip='Most Used'
object-type='menu'
use-menu-path=true
menu-path='mate-applications:/mozo-made-1/'

[org/mate/panel/objects/object-3]
locked=true
launcher-location='/home/greg/.local/share/applications/Atom.desktop'
toplevel-id='top'
position=160
object-type='launcher'
panel-right-stick=false

[org/mate/notification-daemon]
popup-location='top_right'
use-active-monitor=true
theme='coco'

[org/mate/stickynotes]
default-height=100
desktop-hide=true
sticky=true
default-width=100
force-default=false
use-system-color=true
use-system-font=true

[org/mate/eom/view]
background-color='#000000'
use-background-color=true

[org/mate/eom/ui]
image-collection=false
sidebar=false

[org/mate/engrampa/listing]
sort-method='name'
name-column-width=250
sort-type='ascending'
list-mode='as-folder'
show-path=false

[org/mate/engrampa/dialogs/extract]
skip-newer=false
overwrite=true
recreate-folders=true

[org/mate/engrampa/ui]
sidebar-width=200
window-height=480
window-width=600

[org/mate/settings-daemon/plugins/xrandr]
active=false
turn-on-external-monitors-at-startup=true
show-notification-icon=true

[org/mate/screensaver]
themes=['screensavers-popsquares']
mode='single'

[org/mate/disk-usage-analyzer/ui]
statusbar-visible=false

[org/mate/power-manager]
button-power='interactive'
info-last-device='/org/freedesktop/UPower/devices/mouse_0003o046Do101Bx0007'
button-lid-ac='nothing'
info-stats-graph-smooth=true
button-suspend='suspend'
info-page-number=1
info-history-type='charge'
idle-dim-battery=false
button-lid-battery='suspend'
info-stats-type='discharge-accuracy'
icon-policy='always'

[org/mate/maximus]
undecorate=false

[org/mate/system-monitor]
current-tab=1
swap-color='#4949a8a83535'
window-state=(1001, 723, 1702, 666)
width=612
height=495
view-as=0

[org/mate/system-monitor/proctree]
col-14-width=0
col-15-width=89
col-22-width=84
col-16-width=215
col-0-width=513
col-18-width=180
col-1-width=0
sort-col=0
col-0-visible=true
col-1-visible=false
col-2-width=78
columns-order=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]
col-3-width=0
col-2-visible=true
col-4-visible=false
col-5-visible=false
col-6-visible=false
col-3-visible=false
sort-order=0
col-7-visible=false
col-4-width=0
col-5-width=0
col-8-visible=true
col-10-visible=false
col-6-width=0
col-11-visible=true
col-14-visible=false
col-13-visible=false
col-12-visible=true
col-7-width=0
col-16-visible=true
col-15-visible=true
col-10-width=0
col-8-width=77
col-11-width=62
col-9-width=0
col-9-visible=false
col-12-width=50
col-13-width=0

[org/mate/system-monitor/openfilestree]
sort-order=0
sort-col=0

[org/mate/system-monitor/disktreenew]
columns-order=[0, 1, 2, 3, 4, 5, 6]
sort-order=0
sort-col=1

[org/mate/screenshot]
include-pointer=true
include-border=true
border-effect='none'
delay=0
last-save-directory='file:///home/greg/Pictures/screenshots'

[org/mate/terminal/keybindings]
prev-tab='<Primary>z'
paste='<Ctrl>v'
next-tab='<Primary>x'
new-tab='<Ctrl>t'

[org/mate/terminal/profiles/default]
foreground-color='#ABABB2B2BFBF'
visible-name='hidden'
palette='#000000000000:#AAAA00000000:#0000AAAA0000:#AAAA55550000:#00000000AAAA:#AAAA0000AAAA:#0000AAAAAAAA:#AAAAAAAAAAAA:#555555555555:#FFFF55555555:#5555FFFF5555:#FFFFFFFF5555:#55555555FFFF:#FFFF5555FFFF:#5555FFFFFFFF:#FFFFFFFFFFFF'
title=''
cursor-shape='block'
background-darkness=0.89999999851000001
silent-bell=true
scroll-on-output=true
background-type='solid'
default-show-menubar=false
font='Source Code Pro 12'
allow-bold=true
scrollbar-position='hidden'
use-system-font=true
use-theme-colors=false
bold-color='#000000000000'
background-color='#28282C2C3434'
title-mode='replace'

[org/mate/desktop/interface]
menus-have-icons=true
gtk-decoration-layout='close,minimize,maximize:'
show-input-method-menu=true
gtk-dialogs-use-header=false
icon-theme='Paper'
buttons-have-icons=true
toolbar-style='both-horiz'
gtk-color-scheme='fg_color:#d3d3dadae3e3\nbg_color:#38383c3c4a4a\ntext_color:#d3d3dadae3e3\nbase_color:#404045455252\nselected_fg_color:#ffffffffffff\nselected_bg_color:#421661187b7c\ntooltip_fg_color:#ffffffffffff\ntooltip_bg_color:#353539394545'
gtk-theme='Arc-Dark'
toolbar-icons-size='small-toolbar'

[org/mate/desktop/keybindings/custom2]
action='amixer -D pulse sset Master 5%-'
binding='<Mod4>Down'
name='Work-Keyboard Audio Down'

[org/mate/desktop/keybindings/custom1]
action='amixer -D pulse sset Master 5%+'
binding='<Mod4>Up'
name='Work-Keyboard Audio Up'

[org/mate/desktop/keybindings/custom4]
action='rofi -show window'
binding='<Mod4>Tab'
name='rofi -WINDOW SWITCH'

[org/mate/desktop/keybindings/custom0]
action='rofi -show run'
binding='<Mod4>space'
name='rofi -RUN'

[org/mate/desktop/keybindings/custom3]
action='alt'
binding='disabled'
name='Mouse Alt'

[org/mate/desktop/applications/terminal]
exec='mate-terminal'

[org/mate/desktop/applications/at/mobility]
exec='onboard'

[org/mate/desktop/applications/at/visual]
exec='orca'

[org/mate/desktop/session]
auto-save-session=true
logout-timeout=60
session-start=1456346284

[org/mate/desktop/session/required-components]
panel='mate-panel'
filemanager='caja'

[org/mate/desktop/peripherals/touchpad]
scroll-method=2
horiz-scroll-enabled=false
disable-while-typing=false
tap-to-click=false

[org/mate/desktop/peripherals/keyboard/general]
group-per-window=true

[org/mate/desktop/peripherals/keyboard/kbd]
layouts=@as []
options=['terminate\tterminate:ctrl_alt_bksp', 'caps\tcaps:ctrl_modifier']

[org/mate/desktop/peripherals/keyboard]
numlock-state='off'

[org/mate/desktop/peripherals/mouse]
drag-threshold=2
cursor-size=24
motion-acceleration=1.0
double-click=200
cursor-theme='DMZ-Black'
locate-pointer=false

[org/mate/desktop/sound]
input-feedback-sounds=false
theme-name='ubuntu'
event-sounds=true

[org/mate/desktop/accessibility/keyboard]
slowkeys-beep-press=true
mousekeys-accel-time=1200
bouncekeys-beep-reject=true
slowkeys-beep-reject=false
togglekeys-enable=false
enable=false
bouncekeys-enable=false
stickykeys-enable=false
feature-state-change-beep=false
slowkeys-beep-accept=true
bouncekeys-delay=300
mousekeys-max-speed=750
mousekeys-enable=false
timeout-enable=false
slowkeys-delay=300
stickykeys-modifier-beep=true
stickykeys-two-key-off=true
mousekeys-init-delay=160
timeout=120
slowkeys-enable=false

[org/mate/desktop/background]
color-shading-type='vertical-gradient'
primary-color='#58589191bcbc'
picture-options='zoom'
picture-filename='/home/greg/Pictures/wallpapers/KI3N195.jpg'
secondary-color='#3c3c8f8f2525'

[org/mate/desktop/font-rendering]
antialiasing='rgba'
dpi=96.0
hinting='slight'

[org/mate/pluma/plugins/filebrowser/on-load]
virtual-root='file:///etc/conky'
tree-view=true
root='file:///'

[org/mate/pluma]
statusbar-visible=true

[org/mate/search-tool]
default-window-height=350
default-window-maximized=false
look-in-folder='/'
search-history={'gsearchtool-file-entry': ['conky', 'hello', 'dconf', 'chrome', 'stickies', 'atom', 'slack', 'chromium', '.config']}
disable-quick-search=false
default-window-width=554

[org/mate/search-tool/select]
contains-the-text=true

[org/mate/marco/general]
application-based=true
mouse-button-modifier='<alt>'
action-middle-click-titlebar='none'
reduced-resources=false
theme='Arc-Dark'
num-workspaces=4
auto-raise=true
wrap-style='toroidal'
titlebar-uses-system-font=true
compositing-manager=true
auto-raise-delay=100
compositing-fast-alt-tab=true
button-layout='close,minimize,maximize:'
center-new-windows=true

[org/mate/marco/global-keybindings]
run-command-terminal='XF86HomePage'
switch-windows-backward='<Alt><Shift>Tab'
switch-to-workspace-1='<Mod4>1'
run-command-1='b:10'
switch-to-workspace-2='<Mod4>2'
panel-main-menu='<Alt>space'
switch-to-workspace-4='<Mod4>4'
switch-to-workspace-3='<Mod4>3'
cycle-windows='disabled'
switch-to-workspace-5='<Mod4>5'
switch-to-workspace-6='<Mod4>6'
switch-to-workspace-down='disabled'
switch-panels='disabled'
switch-windows='<Alt>Tab'
run-command-window-screenshot='<Primary><Mod4>4'
switch-group='disabled'
switch-windows-all='disabled'
switch-windows-all-backward=''
switch-to-workspace-up='disabled'
switch-to-workspace-right='<Mod4>Right'
switch-to-workspace-left='<Mod4>Left'

[org/mate/marco/window-keybindings]
maximize='disabled'
toggle-maximized='<Primary><Mod4>Up'
close='<Mod4>q'
tile-to-side-e='<Primary><Mod4>Right'
toggle-fullscreen='disabled'
move-to-workspace-right='<Mod4><Shift>Right'
activate-window-menu='<Alt>Return'
maximize-vertically='<Mod4>w'
move-to-workspace-left='<Mod4><Shift>Left'
tile-to-side-w='<Primary><Mod4>Left'

[org/mate/marco/keybinding-commands]
command-1='<Alt>'

[org/mate/mate-menu/plugins/applications]
last-active-tab=1

[org/mate/mate-menu]
hide-applet-icon=false
hot-key=''

[org/mate/caja/preferences]
show-hidden-files=true
default-folder-viewer='list-view'
always-use-browser=true
always-use-location-entry=true

[org/mate/caja/window-state]
start-with-sidebar=true
side-pane-view='places'
geometry='1155x626+434+192'
start-with-status-bar=true
maximized=false
start-with-location-bar=true
start-with-toolbar=true

[org/mate/caja/icon-view]
default-use-tighter-layout=false

[org/mate/caja/desktop]
home-icon-visible=false
computer-icon-visible=false
volumes-visible=false
network-icon-visible=false
trash-icon-visible=false

[org/mate/caja/list-view]
default-visible-columns=['name', 'size', 'type', 'date_modified']
default-column-order=['name', 'size', 'type', 'date_modified', 'date_accessed', 'group', 'where', 'mime_type', 'octal_permissions', 'owner', 'permissions', 'selinux_context']

[org/mate/atril/default]
window-ratio=(3.3862433862433861, 1.4583921015514809)

[apps/update-manager]
first-run=false
launch-time=1456514900
window-height=813
window-width=865

[ca/desrt/dconf-editor]
window-is-fullscreen=false
window-height=819
window-width=1198
window-is-maximized=false
