# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/using-atom-basic-customization#customizing-key-bindings
# * https://atom.io/docs/latest/behind-atom-keymaps-in-depth
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson

'.platform-darwin atom-text-editor':
  'f3': 'bookmarks:toggle-bookmark',
  'cmd-f3': 'bookmarks:view-all',
  'cmd-d': 'git-diff-details:toggle-git-diff-details',
  'ctrl-p': 'project-manager:list-projects',
  'alt-cmd-down': 'block-travel:move-down',
  'alt-cmd-up': 'block-travel:move-up',
  'alt-cmd-right': 'editor:unfold-current-row',
  'alt-cmd-left': 'editor:fold-current-row',
  'cmd-h': 'git-history:show-file-history',
  'alt-cmd-h': 'highlight-line:toggle-background',
  'shift-cmd-S': 'git-status:toggle',
  'cmd-shift-b': 'atom-beautify:beautify-editor',
  'shift-cmd-w': 'tree-view:toggle',
  'cmd-w': 'tree-view:toggle',
  'ctrl-[': 'editor:fold-current-row',
  'ctrl-]': 'editor:unfold-current-row',
  'alt-cmd-]': 'editor:indent-selected-rows',
  'escape': 'git-diff-details:close-git-diff-details',
  'escape': 'find-and-replace:hide'
'body':
  'alt-cmd-h': '',
  'cmd-w': 'tree-view:toggle'
'atom-text-editor[data-grammar="text html angular"]:not([mini])':
  'cmd-w': 'tree-view:toggle',
  'tab': 'emmet:expand-abbreviation-with-tab'
'atom-workspace atom-text-editor:not([mini])':
  'alt-cmd-]': 'editor:indent-selected-rows',
  'ctrl-[': 'editor:fold-current-row',
  'ctrl-]': 'editor:unfold-current-row'
